*.py[cod]
*.egg-info
*.eggs
*.py-e
.ipynb_checkpoints
*.DS_Store
setup.py-e

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache
PrivateRules.mak

docs/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode
/src/ska_oso_pdm/generated/test/
/src/ska_oso_pdm/generated/openapi/
/src/ska_oso_pdm/generated/controllers/
/src/.openapi-generator/
